.App {
  margin: 0;
  padding: 0;
}

.Card{
  position: relative;
    justify-content: center;
    padding: 1rem;
    margin: 100px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: rgba(181, 170, 170, 0.22);
    border: 2px solid white;
    color: white;
    width: 40%;
    text-align: center;
    min-height: 300px;
    
}

.buttonRefresh{
  position: absolute;
  height: 50px;
  min-width: 50px;
  border: 2px solid;
  border-radius: 32px;
  font-family: bolder;
  bottom: 40px;
}

.buttonRefresh:hover{
  background-color: rgb(164, 164, 225);
}
